.wg-tabs {
    display: flex;
    position: relative;
    >.tab-pane {
        text-align: center;
        margin: 0 30px 0 0;
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
            color:  $menu-item-active-color;
        }

        &.tab-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
    }
    >.tabs-ink-bar {
        position: absolute;
        width: 50px;
        bottom: -1px;
        border-bottom: 2px solid $menu-item-active-color;
    }
    &::before{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0px;
        border-bottom: 1px solid #f0f0f0;
        content: "";
    }
}
.tabs-card {
    >.tab-pane {
        margin: 0 2px 0 0;
        border: 1px solid #ccc;
        border-bottom: 0px solid #fff;
        background-color: #f5f5f5;
        &.tab-active {
            background-color: #fff;
            color: $menu-item-active-color!important;
            font-weight: bold;
            border-bottom-color:#fff
        }
        &:hover {
            color:  $menu-item-active-color;
        }
        &.tab-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
    }
    >.tabs-ink-bar {
        display: none;
    }
}